div#cardAdminPanel.uiPanel
  input#addCardName(type="text", placeholder="Name")
  input#addCardType(type="text", placeholder="Type")
  input#addCardClass(type="text", placeholder="Class")
  input#addCardDamage(type="text", placeholder="Damage")
  input#addCardCost(type="text", placeholder="Cost")
  input#addCardCast(type="text", placeholder="Cast Time")
  button#addCardSend Add Card
  div#addCardResult